*{
  box-sizing: border-box;
  font-family: 'Hiragino Mincho ProN';
}

h1{
  margin: 0 !important;
  padding: 20px 0 0 30px;
  font-size: 30px !important;
}

.detailtitle{
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-around;
  height: 50px;
  text-align: center;
  color: rgba(180, 160, 160, 0.8);
  font-size: 30px;
  margin: 5px auto 0;
  border-bottom: 1px solid rgba(180, 160, 160, 1);
  &__left, &__right{
    font-size: 16px;
    line-height: 50px;
  }
  a{
    color: rgba(180, 160, 160, 1);
    &:hover{
      color: rgba(180, 160, 160, 1)
    }
  }
  .box{
    height: 50px;
    width: 300px;
  }
}

body{
  background-color: rgba(252, 250, 250, 0.9) !important;
  height: 100vh;
  #calendar{
    margin: 30px 200px;
    table{
      display: none;
    }
    .fc-button-group{
      margin-right: 40px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    text-align: center;
    font-size: 30px;
    .left--title{
      width: 200px;
      a{
        font-size: 14px;
      }
    }
    .myChart{
      width: 90%;
    }
    .detail{
      display: flex;
    }
    .howmuchlist{
      margin: 0 30px;
      .howmuchtable{
        font-size: 24px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        .thdetail, .thwhere, .thwhen{
          width: 250px;
        }
        .thmoney{
          width: 180px;
        }
        .thdelete{
          width: 80px;
        }
        td{
          padding: 2px 8px;
          a{
            display: block;
            font-size: 14px;
          }
        }
      }
    }
    .form{
      width: 300px;
      margin: 0 30px;
      border: 2px solid rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      .new_howmuch{
        padding: 15px;
      }
      .howmuch-form{
        input{
          display: block;
          width: 270px;
          margin: 0 auto;
        }
      }
      #created_at{
        display: none;
      }
      .input-group{
        margin: 0 auto;
        padding-bottom: 300px;
        .bootstrap-datetimepicker-widget{
          display: block !important;
          margin: 15px 0;
          width: 266px;
          &:before, &:after{
            display: none;
          }
          .accordion-toggle{
            display: none;
          }
        }
        .input-group-append{
          display: block;
          margin: 10px auto;
          .input-group-text{
            width: 40px;
            border-radius: 3px;
          }
        }
      }
    }
    .toform{
      margin: 0;
      font-size: 20px;
      line-height: 1.2em;
      select, button{
        background-color: rgb(255, 247, 222);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        display: block;
        top: 0;
        height: 30px;
        width: 170px;
        margin: 15px;
      }
      #toformbutton{
      border-bottom: solid 1px black;
      &:hover{
        position: relative;
        top: 2px;
        cursor: pointer;
        box-shadow: none;
      }
    }
      a{
        font-size: 16px;
      }
    }
  }
}