*{
  box-sizing: border-box;
  font-family: 'Hiragino Mincho ProN';
}
body{
  background-color: rgb(252, 250, 250) !important;
  .container {
    width: 80%;
    margin: 15px auto;
    text-align: center;
    font-size: 30px;
    table{
      margin: 0 auto;
    }
    .form{
      .howmuch-form{
        input{
          display: block;
          margin: 0 auto;
        }
      }
      #created_at{
        display: none;
      }
      .input-group{
        margin: 0 auto;
        width: 14rem;
        padding-bottom: 300px;
        .bootstrap-datetimepicker-widget{
          &:before, &:after{
            display: none;
          }
        }
      }
      .input-group-append{
        display: block;
        margin: 10px auto;
        .input-group-text{
          width: 40px;
          border-radius: 3px;
        }
      }
    }
  }
  #calendar{
    height: 100%;
    margin: 30px;
    table{
      display: none;
    }
  }
  
  .toform{
    margin: 0 auto;
  }
  
  select, button{
    top: 0;
    height: 30px;
    width: 150px;
  }
}
