- @details.each do |detail|
  = detail.name

.container
  %h2 Chart.js — Pie Chart Demo (apples)
  %div
    %canvas#myChart

%script{src:  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"}